<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Spring Boot CRUD</h3>
    <hr>
    <h4>Update User List</h4>
    <form action="#" th:action="@{/saveUserAttr}" th:object="${user}" method="POST">
        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update User</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to User List</a>
</div>
</body>
</html>